<div>
  <h2> Add New Todo List for Myself </h2>
  <form action="/todos/new" method="POST">
    Todo: <input type="text" name="todo_content" placeholder="e.g. run 2 miles"><br>
    Category: <input type="text" name="category" placeholder="category"><br>
    <input type="submit" value="Add">
  </form>
</div>